<h1><%=@song.title</h1><br>
    <p>
        Artist Name - <%=@song.artist_name%><br>
        Released - <%=@song.released%><br>
        Release Year - <%=@song.release_year%><br>
        Genre - <%=@song.genre%><br>
    </p>
